@import 'variables';

.wrapper {
  border: solid 2px $sub-color2;
  border-radius: $default-radius;
}

.menu {
  background-color: rgb(255, 0, 255);

  &_brand {
    font-size: 2rem;
  }

  &_item {
    background-color: rgb(200, 0, 200);
    font-size: 1.2rem;
  }
}

.body {
  background-color: rgb(100, 0, 100);
  // overflow: hidden;
}

.main {
  height: 100vh;
  background-color: rgb(0, 255, 0);
  // overflow: hidden;
}

.content {
  min-width: 80vw;
  max-height: 80vh;
  background-color: rgb(100, 100, 100);
  // word-break: break-word;
  word-break: break-all;
}

.footer {
  font-size: 2em;
}

.sidebar {
  background-color: rgb(100, 100, 0);
}

.border {
  border: solid 1px rgba(0, 0, 0, 0.3);
}

.tab {
  overflow: auto;

  &_item {
    font-size: 1.5em;
    background-color: rgb(150, 150, 200);
    min-width: 3em;
    max-width: 9em;
    overflow: hidden;
    border: solid 1px rgba(0, 0, 0, 0.3);
    border-bottom: none;
    border-radius: $default-radius $default-radius 0 0;
    user-select: none;
  }

  &_item__sel {
    font-size: 1.5em;
    background-color: rgb(200, 200, 200);
    min-width: 3em;
    max-width: 9em;
    overflow: hidden;
    border: solid 2px rgba(0, 0, 0, 0.3);
    border-bottom: none;
    border-radius: $default-radius $default-radius 0 0;
    user-select: none;
  }
}

.dropDown {
  position: relative;
  cursor: pointer;
  user-select: none;

  &_items {
    visibility: hidden;
    position: absolute;
    z-index: 3000;
    background-color: rgb(200, 200, 200);
  }

  &_item {
    z-index: 3000;
    border: solid 2px rgb(174,121,15);
    background-color: rgb(200, 200, 200);
  }
}

.dropDown:hover .dropDown_items {
  visibility: visible;
}

.childLeft {
  right: 100%;
}

.childBottom {
  top: 100%;
}

.childRight {
  left: 100%;
}

.dropDownToggle {
  position: relative;
  cursor: pointer;
  user-select: none;
  outline: 0;

  &_items {
    visibility: hidden;
    position: absolute;
    top: 100%;
    z-index: 3000;
    background-color: rgb(200, 200, 200);
  }

  &_item {
    z-index: 3000;
    background-color: rgb(200, 200, 200);
  }
}

.dropDownToggle:focus .dropDownToggle_items {
  visibility: visible;

}

.scrollAreaY {
  overflow-y: auto;
}

.noScrollAreaY {
  overflow-y: hidden;
}

// [data-elm-neat-layout] > div {
//   border: solid 2px rgb(174,121,15);
//   border-radius: $default-radius;
// }

@media screen and (max-width: 660px) {
  .content {
    max-height: 60vh;
  }
}
